[Unit]
Description=RPI remote mail
StartLimitIntervalSec=0

[Service]
Type=notify
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python /home/<USER>/git/rpi_remote_mqtt/mail/main.py

Restart=always
RestartSec=1
WatchdogSec=10

[Install]
WantedBy=default.target